body
{
	background-color: silver;
}

a
{
	text-align: center;
}

p
{
	color: black;
	font-family: "Times New Roman", Times, serif;
}

h1
{
	color: black;
	font-family: "Times New Roman", Times, serif;
}
h2
{
	color: black;
	font-family: "Times New Roman", Times, serif;
}
h3
{
	color: black;
	font-family: "Times New Roman", Times, serif;
}
h4
{
	color: black;
	font-family: "Times New Roman", Times, serif;
}
h5
{
	color: black;
	font-family: "Times New Roman", Times, serif;
}
h6
{
	color: black;
	font-family: "Times New Roman", Times, serif;
}